venv/
data/raw/
data/staging/
__pycache__/
*.pyc
.DS_Store
*.ipynb_checkpoints
stuff-to-help-me-learn/
.python-version
data/curated/
observability_dbt/target/
observability_dbt/dbt_packages/
observability_dbt/logs/
